<div class="w-100 flex justifly-around text-sm">
    <div class=" flex-1   flex-col">
        <div class="bg-slate-600 text-white">
            Vtex Response
        </div>
        <pre class="bg-slate-900 text-green-300 p-2 text-sm overflow-auto">
            {{ data | json }}
        </pre>
      
    </div>
    <div class=" flex-1   flex-col">
        <div class="bg-slate-600 text-white">
            SC Response
        </div>
        <pre class="bg-slate-900 text-green-300 p-2 text-sm overflow-auto">
            {{ data | json }}
        </pre>
      
    </div>

</div>