<div class="p-1 w-100 bg-red-700 text-white">
    <div class="flex ">
        <div class="text-white mx-3 p-1">
            Visualizador Vtex SC
        </div>

        <div>
              <input type="text" class="rounded-sm p-1 w-[50vw] text-black"> 
        </div>


        <div class="bg-red-800 rounded-sm ml-2 p-1 text-center">
             <i class="fa-regular fa-file  "></i>
        </div>
        <div class="bg-red-800 rounded-sm ml-2 p-1 text-center">
             <i class="fas fa-search"></i>
        </div>
    </div>
  

</div>