<div class="mt-5">
  <div class="w-100 flex flex-col items-center">
    <div class="w-[80%]">

      <!-- HEADER -->
     

      <!-- CONTENIDO CONDICIONAL -->
      <ng-container *ngIf="(apiVtex.orders$ | async) as orders">

        <!-- SIN RESULTADOS -->
        <div
          *ngIf="orders.length === 0"
          class="p-4 text-center text-gray-500 border rounded-md bg-gray-50">
          Ingresa uno o más IDs para buscar pedidos
        </div>

        <!-- CON RESULTADOS -->
        <app-response
          *ngFor="let order of orders"
          class="border rounded-md mt-1"
          [data]="order">
        </app-response>

      </ng-container>

    </div>
  </div>
</div>
